@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap');

:root {
  --background-color: #fff;
  --font-color: #000;
  --box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}

#root {
  width: 90vw;
  height: 90vh;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

body {
  margin: 0;
  background-color: var(--background-color);
  color: var(--font-color);
  font-family: 'Merriweather Sans', sans-serif;
}

h1 {
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  font-size: 2rem;
  font-weight: 500;
}

.mainData {
  display: grid;
  grid-template-columns: 350px 200px 200px 200px;
  justify-content: center;
  width: 100%;
  height: 80%;
}

.mainData-section {
  max-width: 250px;
  max-height: 200px;
  border-radius: 15px;
  padding: 2rem;
  box-shadow: var(--box-shadow);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainData-Weather-Details {
  display: flex;
  flex-direction: row;
}

.temperature {
  font-size: 2rem;
}

.condition-icon {
  width: 6rem;
  height: 6rem;
}

.temp-Details {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.condition {
  margin-left: 5px;
}

.wind {
  max-width: 100px;
  max-height: 90px;
  border-radius: 15px;
  padding: 2rem;
  box-shadow: var(--box-shadow);
}

.wind-heading {
  font-size: 1rem;
}

.input-container {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: center;
}

input {
  width: 50%;
  height: 1.5rem;
  padding: 1rem;
  border: none;
  font-size: 1.1rem;
  border-radius: 8px;
  box-shadow: var(--box-shadow);
}

input:focus {
  outline: none;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}

.material-symbols-outlined {
  position: absolute;
  top: 30%;
  left: 72.5%;
  color: #000;
  cursor: pointer;
}

/* Responsive Styles */

@media only screen and (max-width: 768px) {

  #root {
    padding: 1rem;
    height: 100%;
    gap: 3rem;
  }

  h1 {
    font-size: 1.4rem;
  }

  h2 {
    font-size: 1rem;
  }

  .wind-heading {
    font-size: 0.9rem;
  }

  .mainData-section {
    padding: 1rem;
  }

  .condition {
    font-size: 0.5rem;
    margin-left: 5px;
  }

  .condition-icon {
    width: 4rem;
    height: 4rem;
  }

  .temperature {
    font-size: 1.2rem;
  }

  .logo {
    width: 4rem;
    height: 4rem;
  }

  .mainData {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    height: auto;
  }

  .input-container {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: center;
  }

  input {
    width: 80%;
  }

  .material-symbols-outlined {
    position: absolute;
    top: 28%;
    left: 83%;
  }
}